[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Pillow = "~=8.1"
PyGObject = "~=3.38"

[dev-packages]
black = ">20.*"

[requires]
python_version = "3"

[scripts]
format = "black -l 110 src scripts"
live_display = "./scripts/live_display.py"
get_image = "./scripts/get_image.py"
put_image = "./scripts/put_image.py"
